[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-move"]
	path = vim/bundle/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "vim/bundle/vim-signify"]
	path = vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/bundle/vim-polyglot-darkcloud"]
	path = vim/bundle/vim-polyglot-darkcloud
	url = https://github.com/prurigro/vim-polyglot-darkcloud.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/splitjoin.vim"]
	path = vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule "vim/bundle/lightline-ale"]
	path = vim/bundle/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "vim/bundle/vim-gutentags"]
	path = vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/bundle/Comment.nvim"]
	path = vim/bundle/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
[submodule "vim/bundle/nvim-ts-context-commentstring"]
	path = vim/bundle/nvim-ts-context-commentstring
	url = https://github.com/JoosepAlviste/nvim-ts-context-commentstring
[submodule "vim/bundle/nvim-treesitter"]
	path = vim/bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "vim/bundle/nvim-cmp"]
	path = vim/bundle/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "vim/bundle/nvim-snippy"]
	path = vim/bundle/nvim-snippy
	url = https://github.com/dcampos/nvim-snippy
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/bundle/cmp-treesitter"]
	path = vim/bundle/cmp-treesitter
	url = https://github.com/ray-x/cmp-treesitter
[submodule "vim/bundle/cmp-nvim-tags"]
	path = vim/bundle/cmp-nvim-tags
	url = https://github.com/quangnguyen30192/cmp-nvim-tags
[submodule "vim/bundle/cmp-snippy"]
	path = vim/bundle/cmp-snippy
	url = https://github.com/dcampos/cmp-snippy
[submodule "vim/bundle/cmp-buffer"]
	path = vim/bundle/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "vim/bundle/cmp-omni"]
	path = vim/bundle/cmp-omni
	url = https://github.com/hrsh7th/cmp-omni
[submodule "vim/bundle/cmp-async-path"]
	path = vim/bundle/cmp-async-path
	url = https://codeberg.org/FelipeLema/cmp-async-path
[submodule "vim/bundle/nvim-treesitter-textobjects"]
	path = vim/bundle/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "vim/bundle/nvim-surround"]
	path = vim/bundle/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "vim/bundle/vista.vim"]
	path = vim/bundle/vista.vim
	url = https://github.com/liuchengxu/vista.vim
[submodule "vim/bundle/qf.nvim"]
	path = vim/bundle/qf.nvim
	url = https://github.com/ten3roberts/qf.nvim
[submodule "vim/bundle/smartyank.nvim"]
	path = vim/bundle/smartyank.nvim
	url = https://github.com/ibhagwan/smartyank.nvim
[submodule "vim/bundle/MatchTagAlways"]
	path = vim/bundle/MatchTagAlways
	url = https://github.com/vitiral/MatchTagAlways
